.MainContent
    di#area0
        small#linkDistance Cambie el tamaño del mapa aquí (ingrese un número de 100 a 600) 
        small#gravity Cambie la contracción entre enlaces (<span id="gravityLabel">0.1</span>)
        small#charge Cambie la separación entre personajes (<span id="chargeLabel">-200</span>) 

    div#area2
        small Click en los círculos sombreados para desplegar más información.
    div#area1
        p.resources
            span Fuentes:
            a(href="https://idl-reporteros.pe/corte-y-corrupcion/", target="_blank") Informe "Corte y Corrupción" de IDL,
            a(href="https://idl-reporteros.pe/como-viajar-a-rusia/", target="_blank") Informe "Cómo viajar a Rusia" de IDL,
            a(href="https://idl-reporteros.pe/hinostroza-despacha/", target="_blank") Informe "Hinostroza despacha" de IDL,
            a(href="https://idl-reporteros.pe/personaje-clave/", target="_blank") Informe "Personaje Clave" de IDL,
            a(href="hhttps://trujilloinforma.com/trujillo/daniel-salaverry-tengo-un-compromiso-con-trujillo/", target="_blank") Pablo Morales y Daniel Salaverry,
            a(href="http://rpp.pe/politica/judiciales/guido-aguila-anuncio-su-renuncia-irrevocable-al-consejo-nacional-de-la-magistratura-noticia-1136619", target="_blank") Renuncia Guido Águila,
            a(href="https://twitter.com/SalvadorHeresi/status/1017864578233962497", target="_blank") Renuncia Salvador Heresi,
            a(href="https://twitter.com/i/status/1016779285623951360", target="_blank") Conversación de César Hinostroza sobre la señora K,
            a(href="http://app.cnm.gob.pe/apps/cnmanexosweb/", target="_blank") Estructura CNM,
            a(href="https://idl-reporteros.pe/buscando-al-ministro/", target="_blank") Informe "Buscando al ministro" de IDL,
            a(href="http://www2.congreso.gob.pe/sicr/diariodebates/audiovideos.nsf/indice/50517258D04D1D1705256A8E0075E850", target="_blank") Vladivideo Kouri, Vidal y Montesinos,
            a(href="https://threadreaderapp.com/thread/1017039457780944896.html", target="_blank") Vínculos Heresi, Kouri, Camayo